.comments table{
    width: 100%;
    border-spacing: 1px;
    margin-bottom:20px;
    margin-top:20px;
}

.comments table td.pseudo{
    width: 30%;
}

.comments table td.comment{
    width: 60%;
}

.comments table tr td{
    padding: 10px;
    border: 1px solid #bababa;
}

.comments table tr:nth-child(even), table thead tr:first-child{
    background-color: #d4d4d4;
}

.comments table .info-comment{
    width: 30%;
}

.comments table .content-comment{
    width: 60%;
}

.comments table .next-comments{
    border: none;
    text-align: right;
    font-weight: bolder;
}

.comments table .previous-comments{
    border: none;
    text-align: left;
    font-weight: bolder;
}

.content-articles {
    text-align: justify;
    margin-left: 0;
}

.content-articles h1 {
    margin-bottom: 5px;
}

.content-articles h2 {
    color: #63a8ff;
}

.content-articles-global {
    width: 100%;
}

.lifted:before, .lifted:after {
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    max-height: 100px;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);

}

.lifted:after{
    right: 10px;
    left: auto;
    -webkit-transform: rotate(3deg);
}

.trick {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    background-image: -webkit-gradient(
        linear,
        right bottom,
        left bottom,
        color-stop(0, #E6DFE6),
        color-stop(1, #A79BA8)
    );
    background-image: -o-linear-gradient(left, #E6DFE6 0%, #A79BA8 100%);
    background-image: -moz-linear-gradient(left, #E6DFE6 0%, #A79BA8 100%);
    background-image: -webkit-linear-gradient(left, #E6DFE6 0%, #A79BA8 100%);
    background-image: -ms-linear-gradient(left, #E6DFE6 0%, #A79BA8 100%);
    background-image: linear-gradient(to left, #E6DFE6 0%, #A79BA8 100%);
}

.trick:before, .trick:after{
    content: "";
    position: absolute;
    z-index: -2;
}

.trick i.fa {
    position: relative;
    top: -22px;
    left: -23px;
    font-size: 30px;
    color: black;
}

.content-articles-global div {
    width: 98%;
    border: 1px solid black;
    box-shadow: 0.2em 0.2em 2px 1px rgba(14, 7, 32, 0.41);
    margin: 3px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.content-articles-global div ul {
    list-style: none;
    font-size: 18px;
}

.content-articles-global div ul i.fa {
    font-size: 20px;
    margin-right: 5px;
    margin-left: 10px;
}

input{
    margin-left: 10px;
    height: 30px;
    width: 90%;
}

textarea{
    margin-left: 10px;
    height: 60px;
    width: 80%;
    resize: vertical;
}

button{
    margin-left: 0;
    width: 60px;
    height: 30px;
    font-size: 12px;
    vertical-align: top;
    margin-top: 36px;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

button:hover{
    background-color: #EBEBEB;
}