.capture-chat{
    background-image: url(../img/capture-mini-chat.png);
    width:100%;
    height: 388px;
    background-repeat: no-repeat;
}

.content-articles a{
    color: #1757C9;
    font-weight: 600;
}