.head {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    border: 1px solid;
    margin-top: 10px;
    box-shadow: 0.2em 0.2em 2px 1px rgba(14, 7, 32, 0.41);
    background-image: -webkit-gradient(linear, left bottom, left bottom, color-stop(0, #696869), color-stop(1, #4A494A));
    background-image: -o-linear-gradient(left bottom, #696869 0%, #4A494A 100%);
    background-image: -moz-linear-gradient(left bottom, #696869 0%, #4A494A 100%);
    background-image: -webkit-linear-gradient(left bottom, #696869 0%, #4A494A 100%);
    background-image: -ms-linear-gradient(left bottom, #696869 0%, #4A494A 100%);
    background-image: linear-gradient(to left bottom, #696869 0%, #4A494A 100%);
}

.body {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.head .title {
    font-family: 'Mrs Saint Delafield', cursive;
    position: absolute;
    z-index: 2;
    top: 13px;
    right: 22%;
    font-size: 85px;
    color: #FFFFFF;
}

.menu {
    list-style: none;
    margin-left: 10px;
    padding-left: 0;
    margin-top: 33px;
}

.menu li {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    text-align: center;
    color: white;
    margin-left: 0;
}

.menu li.active {
    color: rgb(255, 108, 13);
}

.menu li.active i.fa {
    color: rgb(255, 108, 13);
}

.menu li div {
    margin-top: 21px;
}

.menu i.fa {
    display: block;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.menu li.active a:hover {
    text-decoration: none;
    color: rgb(255, 108, 13);
}

.content {
    vertical-align: top;
    margin-top: 10px;
    display: inline-block;
    width: 65%;
    padding-left: 10px;
}

.head div > h1 {
    position: absolute;
    top: -15px;
    left: 10px;
    width: 300px;
    font-family: "Rancho";
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
}

.head .tabTitle img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.tooltipster-base .language {
    width: 175px;
}

.tooltipster-base .language li {
    padding: 0;
    margin: 0;
}

.inactive {
    pointer-events: none;
    cursor: default;
    color: gray;
}

.tooltipster-base .language li {
    list-style: none;
    line-height: 35px;
}

.tooltipster-base .language {
    width: 150px;
}

.tooltipster-base .information {
    width: 450px;
}

.tooltipster-base .language ul {
    margin: 0;
    padding: 0;
}

.tooltipster-base .lang_name {
    display: inline-block;
    width: 90px;
    vertical-align: top;
}

.tooltipster-base .lang_flag {
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

.tooltipster-base .lang_flag img {
    height: 27px;
    width: 27px;
}

.tooltipster-base .librairy {
    width: 250px;
}

.tooltipster-base .librairy span {
    display: inline-block;
    width: 110px;
    margin-bottom: 10px;
}

.tooltipster-base .librairy img {
    display: inline-block;
    width: 90px;
    vertical-align: top;
    margin-bottom: 20px;
}

.tooltipster-base .compatibility {
    width: 250px;
    margin-left: 15px;
}

.tooltipster-base .compatibility img {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.content {
    font-family: Trebuchet MS, Verdana;
    line-height: 22px;
    font-size: 13px;
    width: 100%;
}