#my-timeline .text{
    width: 100% !important;
}

#my-timeline .text{
    width: 100% !important;
}

#my-timeline .media-image{
    display: none;
}

#my-timeline .vco-main{
    background-color: #f6f6f6;
}