<div class="content-articles" compile="content"></div>

<hr/>

<div class="comments">
    <table>
        <thead>
        <tr>
            <td class="pseudo">
                <input ng-model="currentComment.author" type="text" placeholder="Entrez votre pseudo..."/>
            </td>
            <td class="comment">
                <textarea ng-model="currentComment.content" rows="10" cols="5" placeholder="Entrez votre commentaire..."></textarea>
                <button ng-click="addComment()">Poster</button>
            </td>
        </tr>
        </thead>
        <tbody ng-if="nbComments > 0">
        <tr class="animate-repeat" ng-repeat="comment in comments">
            <td class="info-comment">{{comment.author}}, {{comment.date | date: 'dd MMM yyyy'}}</td>
            <td class='content-comment'>{{comment.content}}</td>
        </tr>
        <tr>
            <td class="previous-comments">
                <label ng-if="currentOffset>0" ng-click="previousPage()">Voir les commentaires precédents</label>
            </td>

            <td class="next-comments">
                <label ng-if="currentOffset+10<nbComments" ng-click="nextPage()">Voir les commentaires suivants</label>
            </td>
        </tr>
        </tbody>
        <tbody ng-if="nbComments == 0">
        <tr>
            <td colspan="2">Aucun commentaire...</td>
        </tr>
        </tbody>
    </table>
</div>