<h1>Articles</h1>
<div class="content-articles-global">
    <!--<div class="articles-divers">
        <h2>Divers</h2>
        <ul>
            <li><i class="fa fa-file-text-o"></i><a href="#articles/divers/download-stream.html">Télécharger les vidéos des sites de streaming</a></li>
        </ul>
    </div>-->
    <div class="articles-dev">
        <h2>Développements</h2>
        <ul>
            <li><i class="fa fa-file-text-o"></i><a href="#/articles/developpement/chat-socket-io.html">Réaliser un mini-chat avec Socket IO</a></li>
        </ul>
    </div>
</div>