<div class="cv">

<h2>Identité</h2>
<ul class="identite">
    <li>
        <span>Prénom:</span><i>Rémi</i>
    </li>
    <li>
        <span>Nom:</span>
        <i>Michel</i></li>
    <li>
        <span>Date de naissance:</span>
        <i>21 Août 1989</i>
    </li>
</ul>
<div class="social">
    <a href="https://github.com/michelre" target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
    <a href="http://www.linkedin.com/profile/view?id=229215733" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
    <a href="http://www.viadeo.com/fr/profile/remi.michel4" target="_blank"><i class="viadeo-icon"></i></a>
</div>

<h2>Formation</h2>
<ul class="postits">
    <li class="postit-master">
        <h3>Master MIAGE</h3>

        <p>Université Joseph Fourier, 2014</p>
    </li>
    <li class="postit-licence">
        <h3>Licence MIAGE</h3>

        <p>Université Joseph Fourier, 2012</p>
        <i>Mention Bien</i>
    </li>
    <li class="postit-dut">
        <h3>DUT Informatique</h3>

        <p>Université Pierre Mendès France, 2011</p>
        <i>Classement: 7/120</i>
    </li>
    <li class="postit-baccalaureat">
        <h3>Baccalauréat STG</h3>

        <p>Lycée Artistide Bergès, 2009</p>
        <i>Mention Très-Bien</i>
    </li>
</ul>

<h2>Connaissances techniques</h2>
<table>
    <tbody>
    <tr>
        <td rowspan="6">Langages</td>
        <td>Javascript</td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    <tr>
        <td>HTML</td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    <tr>
        <td>CSS3</td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    <tr>
        <td>PHP</td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    <tr>
        <td>Python</td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    <tr>
        <td>Java</td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    </tbody>
</table>
<table>
    <tbody>
    <tr>
        <td rowspan="6">Frameworks</td>
        <td><abbr ng-tooltip='{"idTooltip": "knockoutjs-tooltip"}'>KnockoutJS</abbr>

            <div class="tooltip" id="knockoutjs-tooltip">
                <p>Framework JavaScript exploitant le concept du MVVM. Ce type de framework permet notamment de
                    construire des interfaces dynamiques de manière extrêmement rapide.
                    <a href="http://knockoutjs.com/" target="_blank">Site officiel</a>
                </p>

                <div id="knockout-icon"></div>
            </div>
        </td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    <tr>
        <td><abbr ng-tooltip='{"idTooltip": "angularjs-tooltip"}'>AngularJS</abbr>

            <div class="tooltip" id="angularjs-tooltip">
                <p>Framework JavaScript fournit par Google qui exploite le patron de conception MVC
                    AngularJS permet comme KnockoutJS de construire aisément des interfaces web de qualité.
                    <a href="http://angularjs.org/" target="_blank">Site officiel</a></p>

                <div id="angular-icon"></div>
            </div>
        </td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    <tr>
        <td>Symfony2</td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    <tr>
        <td><abbr ng-tooltip='{"idTooltip": "flask-tooltip"}'>Flask</abbr>

            <div class="tooltip" id="flask-tooltip">
                <p>Micro-framework écrit en Python qui permet de développer des applications web. Flask possède
                    l'avantage
                    d'être très léger et de disposer d'un grand nombre d'extensions.
                    <a href="http://flask.pocoo.org/" target="_blank">Site officiel</a></p>

                <div class="tooltip" id="flask-icon"></div>
            </div>
        </td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    <tr>
        <td>NodeJS</td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    <tr>
        <td>Hibernate</td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    </tbody>
</table>
<table>
    <tbody>
    <tr>
        <td rowspan="3">Librairies</td>
        <td>JQuery</td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    <tr>
        <td><abbr ng-tooltip='{"idTooltip": "requirejs-tooltip"}'>RequireJS</abbr>

            <div class="tooltip" id="requirejs-tooltip">
                <p>Librairie JavaScript permettant la gestion des dépendances. Cette librairie permet
                    donc d'écrire du code JavaScript modulable et donc réutilisable.
                    <a href="http://www.requirejs.org/" target="_blank">Site officiel</a></p>

                <div id="requirejs-icon"></div>
            </div>
        </td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    <tr>
        <td><abbr ng-tooltip='{"idTooltip": "jasmine-tooltip"}'>Jasmine</abbr>

            <div class="tooltip" id="jasmine-tooltip">
                <p>Framework permettant de réaliser des tests en JavaScript. Très adapté pour la pratique du BDD.
                    <a href="http://pivotal.github.io/jasmine/" target="_blank">Site officiel</a></p>

                <div class="tooltip" id="jasmine-icon"></div>
            </div>
        </td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    </tbody>
</table>

<table>
    <tbody>
    <tr>
        <td rowspan="2">SGBDs</td>
        <td>Oracle</td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    <tr>
        <td>MySQL</td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    </tbody>
</table>

<table>
    <tbody>
    <tr>
        <td rowspan="2">Modélisation</td>
        <td>UML</td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    <tr>
        <td>Merise</td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    </tbody>
</table>

<table>
    <tbody>
    <tr>
        <td rowspan="2">Autre</td>
        <td>XML / XSLT / XSD</td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    <tr>
        <td>Latex</td>
        <td>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </td>
    </tr>
    </tbody>
</table>

<h2>Expériences professionnelles</h2>

<div id="my-timeline" ng-timeline></div>

</div>