<h1>Télécharger les vidéos des sites de streaming</h1>
<i>Rémi Michel - le 18 janvier 2014</i>

<h2>Introduction</h2>
<p>Naviguez-vous sur les sites de streaming? Si oui, la suite peut vous intéresser.
    Il est parfois très agaçant de devoir être connecté pour pouvoir regarder un film ou une série. C'est pourquoi, j'ai
    décidé d'écrire ce petit article afin de vous expliquer de
    manière simple comment télécharger les vidéos présentes sur ces sites de streaming. Je tiens cependant à vous mettre
    en garde que cette petit manip ne fonctionne pas tout le temps. Je vais vous montrer
    une façon de faire. A vous de l'adapter en fonction du contexte dans lequel vous vous trouvez. Par ailleurs, je ne
    vous fais pas la morale sur le caractère légal ou non de la pratique, je pense que vous savez
    autant que moi quels sont les risques. Aller, passons aux choses sérieuses</p>

<h2>Pré-requis</h2>
<p>Le navigateur utilisé pour cette démo est Chrome. Cependant, ceci est transposable sous d'autres navigateurs dont
    notamment Opera ou Firefox. Chrome et Opera ont l'avantage non négligeable d'intégrer nativement une console
    permettant le développement. Sous Firefox, je vous recommande l'installation de <a
            href="https://addons.mozilla.org/fr/firefox/addon/firebug/">Firebug</a>

<h2>Aller sur le site de streaming</h2>
Pour la démo, je me suis rendu sur le site <a href="http://www.streamiz-filmze.fr/">streamiz-filmze</a>.
Ce n'est pas le seul site proposant les vidéos en streaming bien évidemment. Une petite recherche sur google devrait
    aisément vous aiguiller vers ce qui se fait sur la toile en matière de streaming.</p>

<h2>Choisissez votre film</h2>
<p>Sur streamiz, la page est assez sommaire. On retrouve le titre du film, un court résumé et tout en bas le lecteur permettant de lancer la vidéo</p>


<h2>Démarrage de la console</h2>
<p>Les choses sérieuses commencent. C'est à cet instant la que vous pouvez démarrer votre console de développement. Pour
    cela, cliquez droit puis séléctionnez "Procéder à l'inspection de l'élément".
    Ceci devrait faire apparaitre la console Chrome en bas de votre écran.</p>
<div class="capture capture-3"></div>
<p>Il s'agit à la base d'un outil destiné au développeur web. Pour la petite information on retrouve plusieurs onglets
    dont quelques-un très intéressants dont:
<ul>
    <li>Element: Cet onglet permet l'inspection du code HTML tel qu'il est représenté sur l'écran</li>
    <li>Network: Cet onglet permet de voir l'ensemble des requêtes faites. C'est dans cet onglet que nous allons passer
        tout notre temps
    </li>
    <li>Console: Il s'agit de la console JavaScript</li>
</ul>
</p>

<h2>Utilisation de la console</h2>
<p>Vous l'aurez compris, cliquez sur l'onglet "Network". Vous retrouvez ces quatre boutons:
<div class="capture capture-5"></div>
Cliquez sur le deuxième bouton en partant de la gauche. Celui-ci aura pour effet de vider votre console.
Cliquez ensuite sur le troisième bouton en partant de la gauche. Celui ci aura pour effet d'activer le tri:
<div class="capture capture-6"></div>
Voila, vous êtes enfin prêt pour démarrer votre vidéo. Voici le nouveau contenu de votre console une fois la vidéo démarrée:
<div class="capture capture-7"></div>
Vous remarquez une requête portant le nom "d891609fa8.240.mp4". Derrière ce nom barabare se cache quelque chose de très intéressant:
<div class="capture capture-8"></div>
Remarquez le champs Request URL: "http://cs528508v4.vk.me/u224425259/videos/d891609fa8.240.mp4". Copiez ce lien dans un nouvel onglet de votre navigateur.
<div class="capture capture-9"></div>
Cliquez sur "Enregistrer-sous" et le tour est joué

<div class="trick lifted">
    <i class="fa fa-leaf"></i>
    Regardez la constitution de l'URL "http://cs528508v4.vk.me/u224425259/videos/d891609fa8.240.mp4". Remarquez la
    ressource de l'URL "d891609fa8.240.mp4". Le 240 ne vous rappelle-t-il pas quelque chose? Et oui cela représente bien
    la qualité de la vidéo.
    Ainsi vous pouvez essayer de jouer avec les valeurs 360, 480, 720... Qui sait? Avec un peu de chance, la vidéo sera
    toujours accessible avec une meilleure qualité
</div>


</p>


